# Dependencies
/node_modules

# Build output
/.next/
/out/
/*.tsbuildinfo

# Environment variables and Vercel project metadata
.env
.env.*
!.env.example
.vercel

# Uploads
/uploads

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
